@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

footer {
  background-color: #ebebeb;
  margin-top: 100px;
  width: 50%;
  min-height: 100px;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 50px;
}

footer p {
  color: #4d4d4d;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.to-top {
  margin-left: auto;
  margin-right: auto;
  background-color: #37374b;
  color: #fff;
  text-decoration: none;
  transition: linear 0.69s;
  font-size: 25px;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 10px;
}

.to-top:hover {
  background-color: #000000;
  border-radius: 20px;
}
