@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

footer {
  background-color: #f3e9d3;
  margin-top: 100px;
  width: 90%;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 25px;
}

footer p {
  color: #41474b;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin: 2.5px 0;
  font-family: "Exo", sans-serif;
  font-weight: 700;
}
