/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(204, 204, 204);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(88, 88, 88);
  border-radius: 10px;
}
