/* Importing Fonts */

/* Exo (Sans Serif for h1 to h4) */
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Poppins (Sans Serif for paragraphs and h5 to h6 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* End  */

/* Variables */
:root {
  --main-font-family: "Exo", sans-serif;
  --secondary-font-family: "Poppins", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
}
/* Variables end */

/* scroll behaviors */
html {
  scroll-behavior: smooth;
}
/* end */

/* hyperlinks */
a {
  color: #000058;
  text-decoration: none;
  transition: 0.69s;
}

a:hover {
  color: #842ac4;
  text-decoration: none;
}

/* hyperlinks styles end */

/* style 1 buttons */
.btn1 {
  height: 100px;
  font-size: 37.5px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  border-radius: 30px;
  border: 0px;
  width: 500px;
  background-color: #c3d6a7;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 200ms linear;
}

.btn:hover {
  background-color: #9f9fa8;
}

/* style 1 buttons end */

/* style 2 buttons */

/* style 2 buttons end */

/* footer */
.footer-text {
  font-family: var(--secondary-font-family);
  text-align: center;
  font-weight: 600;
}
