/* disable selection */
.no-selection {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(204, 204, 204);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(88, 88, 88);
  border-radius: 10px;
}
