/* Importing Fonts */

/* Exo (Sans Serif for h1 to h4) */
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Poppins (Sans Serif for paragraphs and h5 to h6 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* End  */

/* Variables */
:root {
  --main-font-family: "Exo", sans-serif;
  --secondary-font-family: "Poppins", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #292b44;
  --secondary-color: #cac160;
}
/* Variables end */

/* scroll behaviors */
html {
  scroll-behavior: smooth;
}
/* end */

/* disable selection */
.no-selection {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#home h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  font-weight: 700;
}
