/* Importing Fonts */

/* Exo (Sans Serif for h1 to h4) */
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Poppins (Sans Serif for paragraphs and h5 to h6 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* End  */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

/* html background and scroll behaviours */
html {
  scroll-behavior: smooth;
  background: linear-gradient(
    -45deg,
    rgb(255, 247, 247),
    rgb(243, 252, 243),
    rgb(246, 253, 255),
    rgb(255, 255, 247)
  );
  background-size: 400% 400%;
  animation: animate 5s ease infinite;
  width: 100%;
  height: 100vh;
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/* end */

.before-sections {
  height: 75px;
  width: 100%;
}

.before-section {
  height: 175px;
  width: 100%;
}

h2 {
  font-family: "Exo", sans-serif;
  font-weight: 800;
}

#about {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#about h1 {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 700;
}

#about p {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  #about {
    width: 60%;
  }
}

#skills {
  padding: 0 50px;
  margin-bottom: 100px;
  margin-top: 100px;
}

#skills .text {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}

#skills h2 {
  text-align: center;
  font-size: 35px;
}

#skills .skill-containers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#skills .skill-containers .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  margin: 15px 20px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
  transition: 0.5s;
}

#skills .skill-containers .cell:hover {
  transform: scale(1.15);
}

#skills .skill-containers .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

#skills .skill-containers .cell span {
  font-size: 18px;
}

#projects {
  padding: 2rem 0;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.project-pic {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 25px;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#projects h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 35px;
}

.project-container {
  text-align: center;
  width: 17.5rem;
  padding: 1rem;
  margin-bottom: 1rem; /* Set the desired bottom margin */
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: 1rem; /* Set the desired bottom margin */
}

.project-details {
  margin-bottom: 1rem; /* Set the desired bottom margin */
}

.project-card {
  border-radius: 11px;
  padding: 20px;
  margin: 10px auto;
  border: 1px solid black;
  text-decoration: none;
}

.project-card,
.project-card:visited {
  color: inherit;
  transition: 0.6s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

/* Media query for small screens */
@media (max-width: 768px) {
  .projects-container {
    flex-direction: column;
  }

  .project-pic {
    width: 100%;
  }

  .project-container {
    width: 100%;
    margin-bottom: 2rem;
  }
}
