/* Exo */
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* End  */

/* hyperlinks */
a {
  color: #000058;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: #3b3b3b;
  text-decoration: none;
}
/* end */

/* Nav Bar */
body {
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  margin-top: 100px;
}

.container img {
  display: block;
  width: 100%;
}

nav {
  position: sticky;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Exo", "sans-serif";
  height: 100px;
  background-color: #c9bc95;
  padding: 0 5%;
}

nav .name-text {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links a {
  display: block;
  padding: 1em;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

nav .links a:hover {
  color: white;
}

nav .links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

nav .links a:hover::before {
  visibility: visible;
  transform: scaleX(1);
  color: white;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  nav .name-text {
    float: none;
    width: auto;
    justify-content: center;
  }

  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  nav .links a {
    font-size: 20px;
  }

  nav :checked ~ .links {
    bottom: 0;
  }

  nav .icon-burger {
    display: block;
  }

  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}
/* end */
